*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
.Navbar{
  padding: 0.5rem;
  background-color: #C33142;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.logo{
  flex-basis:20% ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links{
  flex-basis: 40%;
  display: flex;
  justify-content: space-evenly;
}
.links a{
  text-decoration: none;
  display: block;
  pad: 1em;
  color: #fff;
  padding: 10px;
}
.links a:hover{
  background: #892430;
}

/*
*****************************************************************************************************
 BusDriverMainPage
*****************************************************************************************************
*/


.titleBusDriverMainPage {
  color: rgb(7, 30, 158);
}



/*
End - BusDriverMainPage 
 */

 /*
123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
 AdminMainPage
123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
*/
.titleAdmin{
  color: red;
}


/*
End - AdminMainPage 
 */