*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* ---------------------- home ------------------------------- */
.HomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}
.HomeButtons{
    display: flex;
    justify-content: space-evenly;
}
.btn_przystanki, .btn_linie {
    width: 443px;
    height: 212px;
    border-style: none;
}
.btn_przystanki:hover, .btn_linie:hover{
    cursor: pointer;
}
.btn_przystanki{
    background-image: url("./graphics/btn_przystanki.svg");
}
.btn_linie{
    background-image: url("./graphics/btn_linie.svg");
}
.PageFooter{
    display: flex;
    justify-content: center;
    width:100%;
    font-size: 2rem;
    color: #892430;
    padding: 1rem;
}
/* ----------------------------------------------------------- */

/*------------------------- login Page ----------------------- */
.loginContainer{
    background-color: #C33142;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}
.loginFooter{
    background-color: #fff;
}
  /* ==================== input form ========================== */
.loginForm {
    background-color: #C33142;
    padding: 2rem;
    border: 5px solid rgb(255, 255, 255);
    color: white;
    width: 30vw;
    height: 40vh;
    margin-bottom: 4rem;
}
input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #fff;
    border: 1px solid #C33142;
    color: #C33142;
    padding: 10px 20px;
}
input[type="submit"]:hover {
    background: #8d1724;
    color: white;
}
.button-container {
    display: flex;
    justify-content: center;
}
.list-container {
    display: flex;
}
.error {
    color: rgb(255, 20, 20);
    font-size: 1rem;
    font-weight: bold;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}
/* --------------------- end of Login ------------------- */

/* --------------------- DriverPanel ------------------- */
.mainPanel{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60vh;
}
.btn_panels{
    height: 150px;
    width: 360px;
    margin: 50px;
    color: #C33142;
    background-color: #FFFFFF;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    display: block;
}
.btn_panels a{
    display: block;
}
.btn_panels a:hover{
    color: #86222e;
}
.btn_panels:hover{
    cursor: pointer;
}
/* button for logging of - footer */
.btn_footer{
    display: flex;
    flex-direction: column;
  }
.btn_footer p{
    width: 100%;
    color: #fff;
}
.btn_log{
    border: none;
    background: none;
    font-size: 1.4rem;
    align-self: flex-end;
    margin-right: 100px;
}
.btn_log a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    align-self: flex-end;
}
.btn_log a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #8d1724;
}
/* ------------------------------------------------- */
/* //////////////////// common ///////////////////// */
.mainContainer{ 
    background-color: #fff;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.panelsSettings{
    background-color: #C33142;
    color: #FFFFFF;
}
/* -------------- */
.linkSettings{
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #C33142;
}
.linkSettings:hover{
    color: #FFFFFF;
}
.logoPanel{
    font-size: 3rem;
    align-self: start;
    margin-left: 5rem;
    padding: 4rem;
}
.logoLink{
    color: #fff;
    text-decoration: none;
}

.btnBack{  
    background-color: #C33142;
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 15px;
}
.btnBack:hover{
    background: #892430;
    cursor: pointer;
  }
.mainPanels{ 
    display: flex;  
    align-items: center;
    justify-content: space-around;
    height: 65vh;
}
.formPanels {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listPanels{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listPanelsTitle{  
    margin-bottom: 70px;
    color: #C33142;
    font-size: 3rem;
    font-weight: bold;
}
.listPanelsUl{ 
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}
.listPanelsUl a{
    text-decoration: none;
}
.listPanelsLi{
    background-color:#C33142;
    color: #FFFFFF;
    height: 57px;
    width: 374px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listPanelsLi:hover{
    background: #892430;
    cursor: pointer;
}
.nameFetchTitle{
    text-align: center;
    color: #C33142;
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
}

/* --------- */
.btn_panelsAdmin:hover{
    cursor: pointer;
    color: #fff;
    background-color: #9a212f;
}
/* ----------------- */
.liBusOut{
    border: 3px solid #86222e;
    background-color: #fff;
    color: #86222e;
}
.liBusOut:hover,.liBusMod:hover{
  cursor:default ;
}
.liBusOut:hover{
    background-color: #fff;
}
.liBusMod:hover{
    background-color: #C33142 ;
}
.aut_settings{
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.busStatusAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.liBusOut{
    border: 3px solid #86222e;
    background-color: #fff;
    color: #86222e;
}
.liBusOut:hover,.liBusMod:hover{
  cursor:default ;
}
.liBusOut:hover{
    background-color: #fff;
}
.liBusMod:hover{
    background-color: #C33142 ;
}
  /* dyspo */
.mainDispKursy{
    display: flex;
    justify-content: center;
    padding: 20px;
    height: auto;
    margin-bottom: 4rem;
}
.tableDyspozytor{
    border: 1px solid #8d1724;
    color: #C33142;
    width: 80%;
    text-align: center;
}
.tableDyspozytor td{
    border-left: 1px solid #86222e;
}
.tableDyspozytor td:nth-child(1){
    border: none;
}
  /* przystanki page */
.btnListData{
    background-color:#C33142;
    color: white;
    padding: 2rem 5rem;
    margin-bottom: 2rem;
    font-size: 4rem;
}
  /* -------- */
  /* date */
  .currentDate{     
    background-color:#C33142;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 200px;
    align-self: flex-end;
    margin-right: 5rem;
    margin-top: 5rem;
    
  }
  .datePi{
    padding: 10px;
  }

  /* busdruver table */
  table.tableGrafik {
    border:1px solid #C33142;
    border-collapse:collapse;
    padding:5px;
    height: 20vh;
  }
  table.tableGrafik th{
    border:1px solid #C33142;
    padding:5px;
    background: #ffffff;
    color: #C33142;
  }
  table.tableGrafik td{
    border:1px solid #C33142;
    text-align:center;
    padding:5px;
    background: #ffffff;
    color: #C33142;
  }
  /* panelautobusy */
  .btnAddBus{
    margin-bottom: 20px;
    text-align: center;
    background-color:#C33142;
    color: #FFFFFF;
    border: none;
    height: 57px;
    width: 350px;
    font-size: 2rem;
    font-weight: bold;
  }
  .btnAddBus:hover{
    background: #892430;
    cursor: pointer;
}
.kursModifier{
    display: flex;
    border: 1px solid #C33142;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 10rem;
    margin-top: 2rem;
}
.AddTitle{
    width: 100%;
    color: #C33142;
}